@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	font-family: "PT Sans", sans-serif;
}

// VARIABLES START
$color1: #00c4cc;
$color2: #9837ff;
$color3: #360070;
$color4: #81838c;
// VARIABLES END

// GLOBAL START
html {
	width: 100%;
	font-size: 100%;
	overflow-x: hidden;
	font-family: Louis_George_Cafe_R;
}

@media screen and (max-width: 992px) {
	html {
		font-size: 100%;
	}
}
@media screen and (max-width: 668px) {
	html {
		font-size: 92%;
	}
}
@media screen and (max-width: 575px) {
	html {
		font-size: 88%;
	}
}
@media screen and (max-width: 475px) {
	html {
		font-size: 84%;
	}
}
@media screen and (max-width: 380px) {
	html {
		font-size: 80%;
	}
}
@media screen and (max-width: 280px) {
	html {
		font-size: 76%;
	}
}

.pointer {
	cursor: pointer;
}

.f8 {
	font-size: 0.5rem;
}

.f10 {
	font-size: 0.625rem;
}

.f12 {
	font-size: 0.75rem;
}

.f14 {
	font-size: 0.875rem;
}

.f15 {
	font-size: 0.938rem;
}

.f16 {
	font-size: 1rem;
}

.f18 {
	font-size: 1.125rem;
}

.f20 {
	font-size: 1.25rem;
}

.f22 {
	font-size: 1.375rem;
}

.f24 {
	font-size: 1.5rem;
}

.f34 {
	font-size: 2.125rem;
}

.f32 {
	font-size: 2rem;
}

.f30 {
	font-size: 1.875rem;
}

.f35 {
	font-size: 2.125rem;
	line-height: 57px;
}

.f50 {
	font-size: 3.125rem;
	line-height: 65px;
}

.f64 {
	font-size: 4rem;
	line-height: 71px;
}

.fw400 {
	font-weight: 400;
}

.fw500 {
	font-weight: 500;
}

.fw600 {
	font-weight: 600;
}

.fw700 {
	font-weight: 700;
}

.fw800 {
	font-weight: 800;
}

.fw900 {
	font-weight: 900;
}

// COLORS
.color1 {
	color: $color1;
}

.bg_color1 {
	background-color: $color1;
}

.color2 {
	color: $color2;
}

.bg_color2 {
	background-color: $color2;
}

.color3 {
	color: $color3;
}

.color4 {
	color: $color4;
}

.bg_color3 {
	background-color: $color3;
}

.page_container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.page_container_slider {
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
}

/* ==================== SideBAR STYLING END ======================== */

.SideBarContainer {
	position: fixed;
	right: 0%;
	left: 0%;
	bottom: 0%;
	color: #000;
	font-size: 2.2rem;
	background-color: #fff;
	height: 100vh;
	z-index: 11111;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.SideBarContainer .logo {
	position: absolute;
	top: 3.5%;
	left: 3%;
}

.SideBarContainer .logo img {
	width: 200px;
}

.SideBarContainer ul {
	padding-left: 0rem;
}

.SideBarContainer ul li {
	position: relative;
	list-style: none;
	margin-bottom: 1rem;
	cursor: pointer;
	padding: 0.4rem 0rem;
	text-align: center;
}

.SideBarContainer ul li a {
	color: #000;
	text-decoration: none;
	position: relative;
	padding-bottom: 5px;
}

.SideBarContainer ul li .activeNav::after {
	content: "";
	position: absolute;
	left: 0%;
	bottom: 0%;
	height: 10%;
	width: 100%;
	background-color: #fff;
	border-radius: 5px;
}

.CrossBTn {
	position: absolute;
	top: 5.2%;
	right: 5.5%;
	cursor: pointer;
	color: #000;
}
/* ==================== SideBAR STYLING END ======================== */

// HEADER START
.header_container {
	position: fixed;
	height: 100px;
	background-color: transparent;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 20;
	transition: 0.5s;

	.logo_container {
		width: 150px;

		img {
			width: 100%;
			height: auto;
		}
	}

	ul {
		li {
			a {
				text-decoration: none;
				color: #000000;
				transition: 0.6s;

				&:hover {
					font-weight: 600;
				}
			}
		}
	}

	.navigation {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.buttons_cont {
		button {
			background-color: #00c4cc;
			color: #fff;
			border: none;
			width: 100px;
			height: 40px;
			border-radius: 50px;
		}
	}
}

.header_container.sticky {
	height: 70px;
	background-color: #fff;
}
// HEADER END

// HERO START
.hero_container {
	background: url("../assets/images/hero.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 10rem;

	.hero_img {
		max-width: 900px;
	}
}
// HERO END

// BRAND START
.brand_container {
	padding: 7rem 0rem 8rem 0rem;
}
// BRAND END

// SERVOCES START
.services_container {
	background: linear-gradient(
			rgba(255, 255, 255, 0.7),
			rgba(255, 255, 255, 0.7)
		),
		url("../assets/images/hero.svg");
	width: 100%;
	padding: 8rem 0rem;

	.row {
		align-items: baseline;
	}

	.service_card {
		background-color: #190034;
		min-height: 290px;
		border-radius: 20px;
	}

	.service_card2 {
		background-color: #190034;
		border-radius: 20px;
	}
}
// SERVOCES END

// UNDER SERVOCES START
.under_service_container {
	padding: 8rem 0rem;
	background: url("../assets/images/under_service.svg");
	width: 100%;
}
// UNDER SERVOCES END

// PROCESS CONTAINER START
.process_container {
	padding: 0rem 0rem 8rem 0rem;

	.text_content {
		margin-top: -3rem;
	}

	img {
		margin-top: -0.6rem !important;
	}

	._card {
		min-height: 330px;
	}

	.yellow_card {
		min-height: 330px;
		background-color: #ff9900;
		border-radius: 15px;
		box-shadow: 1px 1px 30px #ff9900;
	}
}
// PROCESS CONTAINER END

// HOME SLIDER START
.home_slider_container {
	padding: 8rem 0rem;
	background-color: #f5f6f9;

	.mySwiper {
		padding: 0rem 0rem 5rem 0rem;
	}

	.swiper-pagination-bullet-active {
		background: #9837ff;
	}
}
// HOME SLIDER END

// PRICING START
.prices_container {
	padding: 8rem 0rem;

	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
	}

	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #eeeeee;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		border-radius: 50px;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: $color2;
		-webkit-transition: 0.4s;
		border-radius: 50%;
		transition: 0.4s;
	}

	input:checked + .slider {
		background-color: #eeeeee;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #eeeeee;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}

	.price_card {
		button {
			background-color: $color1;
		}
	}

	.price_card2 {
		border-top: 5px solid $color1;
		border-radius: 6px;

		button {
			background-color: $color1;
		}
	}

	.price_card {
		min-height: 695px;
	}

	.green_bg {
		background-color: #2bd67b;
	}
}
// PRICING END

// FAQ START
.faq_container {
	margin-top: -1rem;
	padding: 4rem 0rem 0rem 0rem;
	background-color: #131f2d;

	.custom_accordion {
		border-bottom: 1px solid rgba(255, 255, 255, 0.178);
	}
}
// FAQ END

// FOOTER START
.footer_container {
	padding: 4rem 0rem 0rem 0rem;
	background-color: #131f2d;

	.under_logo {
		color: #687497;
	}

	ul {
		li {
			a {
				color: #fff;
				text-decoration: none;
			}
		}
	}

	.copy_write {
		margin-top: 2rem;
		padding: 2rem 0rem 1rem 0rem;
		border-top: 1px solid #eeeeee27;
	}
}
// FOOTER END

// ABOUT US START
.aboutHero_container {
	background: url("../assets/images/aboutHero.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 12rem 0rem;

	.button_container {
		button {
			display: flex;
			justify-content: space-between;
			align-items: center;

			div {
				width: 10px;
				height: 15px;
				border: 2px solid #fff;
			}
		}
		button:nth-child(1) {
			background: $color2;
		}
		button:nth-child(2) {
			background: $color1;
		}
	}

	.text-center {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

	.bread_content {
		position: absolute;
		bottom: 1rem;
		left: 50%;
		transform: translateX(-50%);
	}
}
// ABOUT US END

// ABOUT US SECTIONS START
.aboutSec_container {
	margin-top: 6rem;
	padding: 8rem 0rem;
	background-color: #f7f9fb;
}
// ABOUT US SECTIONS END

// TEAM START
.team_container {
	padding: 8rem 0rem;
}
// TEAM END

// CONTACT START
.contact_container {
	background-color: #9837ff;
	border-radius: 30px;
}
// CONTACT END

// STATES START
.states_container {
	padding: 8rem 0rem;

	.inner_states {
		background: #f6f4f9;
		border-radius: 20px;
	}
}
// STATES END

// UNDER STATES START
.under_states_container {
	padding: 0rem 0rem 8rem 0rem;
}
// UNDER STATES END

// CONTACT START
.contact_form_container {
	padding: 8rem 0rem;

	.form-control:focus {
		border-color: $color2;
		box-shadow: 0 0 0 0.25rem rgba(152, 55, 255, 0.25);
	}
}
// CONTACT END

// CONTACT CARD START
.contact_card_container {
	padding-bottom: 8rem;

	.card_contact {
		p {
			color: #687497;
		}
	}

	button {
		box-shadow: 1px 1px 10px $color1;
	}
}
// CONTACT CARD END

// BLOG LIST START
.blog_list_container {
	padding: 8rem 0rem;

	.blog_card {
		border-radius: 10px;
	}

	.paginate {
		ul {
			li {
				font-size: 1.5rem;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
			}
			li:nth-child(1) {
				border: 1px solid $color2;
				background-color: $color2;
				width: 40px;
				height: 40px;
				color: #fff;
			}
			li:nth-child(2) {
				border: 1px solid #cccccc;
				border-radius: 50%;
				width: 40px;
				height: 40px;
			}
			li:nth-child(3) {
				border: 1px solid #cccccc;
				border-radius: 50%;
				width: 40px;
				height: 40px;
			}
		}
	}
}
// BLOG LIST END

// BLOG START
.blog_body_container {
	padding: 12rem 0rem 8rem 0rem;

	.blog_card {
		border-radius: 10px;
	}
}
// BLOG END

// MEDIA START
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 575px) {
	.services_container .service_card {
		min-height: 200px;
	}
	.services_container {
		padding: 6rem 0rem;
	}
	.faq_container {
		padding: 3rem 0rem 0rem 0rem;
	}
	.footer_container {
		padding: 3rem 0rem 0rem 0rem;
	}
}
// MEDIA END
