@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

html {
  width: 100%;
  font-size: 100%;
  overflow-x: hidden;
  font-family: Louis_George_Cafe_R;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 668px) {
  html {
    font-size: 92%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 88%;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 84%;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 280px) {
  html {
    font-size: 76%;
  }
}

.pointer {
  cursor: pointer;
}

.f8 {
  font-size: 0.5rem;
}

.f10 {
  font-size: 0.625rem;
}

.f12 {
  font-size: 0.75rem;
}

.f14 {
  font-size: 0.875rem;
}

.f15 {
  font-size: 0.938rem;
}

.f16 {
  font-size: 1rem;
}

.f18 {
  font-size: 1.125rem;
}

.f20 {
  font-size: 1.25rem;
}

.f22 {
  font-size: 1.375rem;
}

.f24 {
  font-size: 1.5rem;
}

.f34 {
  font-size: 2.125rem;
}

.f32 {
  font-size: 2rem;
}

.f30 {
  font-size: 1.875rem;
}

.f35 {
  font-size: 2.125rem;
  line-height: 57px;
}

.f50 {
  font-size: 3.125rem;
  line-height: 65px;
}

.f64 {
  font-size: 4rem;
  line-height: 71px;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

.color1 {
  color: #00c4cc;
}

.bg_color1 {
  background-color: #00c4cc;
}

.color2 {
  color: #9837ff;
}

.bg_color2 {
  background-color: #9837ff;
}

.color3 {
  color: #360070;
}

.color4 {
  color: #81838c;
}

.bg_color5 {
  background-color: #101c3d;
}

.bg_color3 {
  background-color: #360070;
}

.top_rounded {
  border-radius: 10px 10px 0px 0px;
}

.bottom_rounded {
  border-radius: 0px 0px 10px 10px;
}

.page_container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.page_container_slider {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

/* ==================== SideBAR STYLING END ======================== */
.SideBarContainer {
  position: fixed;
  right: 0%;
  left: 0%;
  bottom: 0%;
  color: #000;
  font-size: 2.2rem;
  background-color: #fff;
  height: 100vh;
  z-index: 11111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.SideBarContainer .logo {
  position: absolute;
  top: 3.5%;
  left: 3%;
}

.SideBarContainer .logo img {
  width: 200px;
}

.SideBarContainer ul {
  padding-left: 0rem;
}

.SideBarContainer ul li {
  position: relative;
  list-style: none;
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 0.4rem 0rem;
  text-align: center;
}

.SideBarContainer ul li a {
  color: #000;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
}

.SideBarContainer ul li .activeNav::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0%;
  height: 10%;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}

.CrossBTn {
  position: absolute;
  top: 5.2%;
  right: 5.5%;
  cursor: pointer;
  color: #000;
}

/* ==================== SideBAR STYLING END ======================== */
.header_container {
  position: fixed;
  height: 100px;
  background-color: transparent;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header_container .logo_container {
  width: 150px;
}

.header_container .logo_container img {
  width: 100%;
  height: auto;
}

.header_container ul li a {
  text-decoration: none;
  color: #000000;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header_container ul li a:hover {
  font-weight: 600;
}

.header_container .navigation {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header_container .buttons_cont button {
  background-color: #00c4cc;
  color: #fff;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 50px;
}

.header_container.sticky {
  height: 70px;
  background-color: #fff;
}

.hero_container {
  background: url("../assets/images/hero.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
}

.hero_container .hero_img {
  max-width: 900px;
}

.brand_container {
  padding: 7rem 0rem 8rem 0rem;
}

.services_container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url("../assets/images/hero.svg");
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../assets/images/hero.svg");
  width: 100%;
  padding: 8rem 0rem;
}

.services_container .row {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.services_container .service_card {
  background-color: #190034;
  min-height: 290px;
  border-radius: 20px;
}

.services_container .service_card2 {
  background-color: #190034;
  border-radius: 20px;
}

.under_service_container {
  padding: 8rem 0rem;
  background: url("../assets/images/under_service.svg");
  width: 100%;
}

.process_container {
  padding: 0rem 0rem 8rem 0rem;
}

.process_container .text_content {
  margin-top: -3rem;
}

.process_container img {
  margin-top: -0.6rem !important;
}

.process_container ._card {
  min-height: 330px;
}

.process_container .yellow_card {
  min-height: 330px;
  background-color: #ff9900;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 30px #ff9900;
          box-shadow: 1px 1px 30px #ff9900;
}

.home_slider_container {
  padding: 8rem 0rem;
  background-color: #f5f6f9;
}

.home_slider_container .mySwiper {
  padding: 0rem 0rem 5rem 0rem;
}

.home_slider_container .swiper-pagination-bullet-active {
  background: #9837ff;
}

.prices_container {
  padding: 8rem 0rem;
  /* Rounded sliders */
}

.prices_container .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.prices_container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.prices_container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eeeeee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
}

.prices_container .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #9837ff;
  -webkit-transition: 0.4s;
  border-radius: 50%;
  transition: 0.4s;
}

.prices_container input:checked + .slider {
  background-color: #eeeeee;
}

.prices_container input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #eeeeee;
          box-shadow: 0 0 1px #eeeeee;
}

.prices_container input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.prices_container .slider.round {
  border-radius: 34px;
}

.prices_container .slider.round:before {
  border-radius: 50%;
}

.prices_container .price_card button {
  background-color: #00c4cc;
}

.prices_container .price_card2 {
  border-top: 5px solid #00c4cc;
  border-radius: 6px;
}

.prices_container .price_card2 button {
  background-color: #00c4cc;
}

.prices_container .price_card {
  min-height: 695px;
}

.prices_container .green_bg {
  background-color: #2bd67b;
}

.faq_container {
  margin-top: -1rem;
  padding: 4rem 0rem 0rem 0rem;
  background-color: #131f2d;
}

.faq_container .custom_accordion {
  border-bottom: 1px solid rgba(255, 255, 255, 0.178);
}

.footer_container {
  padding: 4rem 0rem 0rem 0rem;
  background-color: #131f2d;
}

.footer_container .under_logo {
  color: #687497;
}

.footer_container ul li a {
  color: #fff;
  text-decoration: none;
}

.footer_container .copy_write {
  margin-top: 2rem;
  padding: 2rem 0rem 1rem 0rem;
  border-top: 1px solid #eeeeee27;
}

.aboutHero_container {
  background: url("../assets/images/aboutHero.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12rem 0rem;
}

.aboutHero_container .button_container button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutHero_container .button_container button div {
  width: 10px;
  height: 15px;
  border: 2px solid #fff;
}

.aboutHero_container .button_container button:nth-child(1) {
  background: #9837ff;
}

.aboutHero_container .button_container button:nth-child(2) {
  background: #00c4cc;
}

.aboutHero_container .text-center {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.aboutHero_container .bread_content {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.aboutSec_container {
  margin-top: 6rem;
  padding: 8rem 0rem;
  background-color: #f7f9fb;
}

.team_container {
  padding: 8rem 0rem;
}

.contact_container {
  background-color: #9837ff;
  border-radius: 30px;
}

.states_container {
  padding: 8rem 0rem;
}

.states_container .inner_states {
  background: #f6f4f9;
  border-radius: 20px;
}

.under_states_container {
  padding: 0rem 0rem 8rem 0rem;
}

.contact_form_container {
  padding: 8rem 0rem;
}

.contact_form_container .form-control:focus {
  border-color: #9837ff;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(152, 55, 255, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(152, 55, 255, 0.25);
}

.contact_card_container {
  padding-bottom: 8rem;
}

.contact_card_container .card_contact p {
  color: #687497;
}

.contact_card_container button {
  -webkit-box-shadow: 1px 1px 10px #00c4cc;
          box-shadow: 1px 1px 10px #00c4cc;
}

.blog_list_container {
  padding: 8rem 0rem;
}

.blog_list_container .blog_card {
  border-radius: 10px;
}

.blog_list_container .paginate ul li {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.blog_list_container .paginate ul li:nth-child(1) {
  border: 1px solid #9837ff;
  background-color: #9837ff;
  width: 40px;
  height: 40px;
  color: #fff;
}

.blog_list_container .paginate ul li:nth-child(2) {
  border: 1px solid #cccccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.blog_list_container .paginate ul li:nth-child(3) {
  border: 1px solid #cccccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.blog_body_container {
  padding: 12rem 0rem 8rem 0rem;
}

.blog_body_container .blog_card {
  border-radius: 10px;
}

.sign_up_container {
  background-color: #f4f6fc;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign_up_container img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
}

.sign_up_container .inner_sign {
  background-color: #fff;
  height: 700px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.sign_up_container .form_sec {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.sign_up_container .share_ {
  padding: 0.8rem;
  border: 1px solid #eeee;
  border-radius: 50px;
}

.sign_up_container label {
  color: #81838c;
}

.sign_up_container .form-control:focus {
  border-color: #9837ff;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(152, 55, 255, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(152, 55, 255, 0.25);
}

.sign_up_container input {
  height: 44px !important;
  background-color: #e0e7ff34;
}

.pricing_table_container {
  margin-top: -1.1rem;
  padding: 8rem 0rem 8rem 0rem;
  background-color: #f5f6f9;
}

@media screen and (max-width: 768px) {
  .sign_up_container .inner_sign {
    height: auto;
  }
}

@media screen and (max-width: 575px) {
  .services_container .service_card {
    min-height: 200px;
  }
  .services_container {
    padding: 6rem 0rem;
  }
  .faq_container {
    padding: 3rem 0rem 0rem 0rem;
  }
  .footer_container {
    padding: 3rem 0rem 0rem 0rem;
  }
}
/*# sourceMappingURL=styles.css.map */